### Authorize ###
!README.md
!LICENSE
!NOTICE

### Unauthorize ###
# Folder
data/
node_modules/
testdata/
tests/
scripts/
.github/
__tests/
.git/

# Ignore files
.gitignore

# Files types
*.md
*.yaml
*.yml