### Authorize ###
!README.md
!LICENSE
!NOTICE

### Unauthorize ###
# Folder
data/
node_modules/
testdata/
tests/
scripts/
.github/
__tests/
.git/

# JS Files
package-lock.json

# Docker
Dockerfile

# Ignore files
.dockerignore
.gitignore

# Files types
*.md
*.yaml